<!DOCTYPE html>
<html ng-app="myApp">
  <head>
  <title>resonate</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.2/jquery.tipsy.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/info_on_demographics.js"></script>
  </head>

<body class="col-lg-12">
  <div id="controller" ng-controller="HomeController">
      <div id="branding" class="col-lg-offset-2 col-lg-8 text-center">
            <img id="logo" src="img/thing.jpg" width="400px" height="350px"></img>
            <hr>
          </div>
          <div id="chartDescription" class="col-lg-12 text-center"><div id="firstSentence">Minimum wage is the lowest salary per hour permitted by law.</div>
          <h5>Currently, our federal minimum wage is $7.25 per hour. </h5>
          <h5>When adjusted for inflation, this is $3.00 less than the minimum wage in 1968.</h5>
          <h4 class="makeBold makeBig">What happens to Americans if we raise or lower the minimum wage?</h4>
          </div>
          <div id="chart1" class="col-lg-12 text-center">
            <svg id="povertyChart" class="text-center"></svg>
          </div>
          <div id="chartUnderText" class="col-lg-12 text-center">
          <h1>background on json data</h1>
          </div>
          <div id="buttonsToChangeChart" class="col-lg-4"> 
            <button class="btn btn-primary" value="Male">Male</button>
            <button class="btn" value="Female">Female</button>
            <h4 id="chart_header">value percent affected</h4>
          </div>
          <div id="chart"></div>
          <script>
          updateChart();
          $("button").click(function(event) {
              $(event.target).siblings().removeClass("btn-primary");
              $(event.target).addClass("btn-primary");
              updateChart();
          });

          </script>

          <div id="resultOfButtonPress" class="col-lg-12">
          </div>

        <div id="candidatebox" class="col-lg-12">

          <div id="whichCandidate" class="makeBig">
          Which presidential candidate for November 2015 shares your opinion?
          </div>

          <div ng-repeat="candidate in candidates" id="{{candidate}}" class="col-lg-12" input type = "text">
            <img src="{{candidate.img}}" class="thumbnail col-lg-6">
            <div class="col-lg-6">
              <span class="makeBig makeBold">
                    {{candidate.bioName}}
              </span>
              <span class="makeBig">
                    {{candidate.bioType}}
              </span>
            </div>
            <br>
            <div class="col-lg-6 makeMedium">
                  {{candidate.summary}}
            </div>
            <br>
            <div class="col-lg-6 makeMedium makeItalic">
                  {{candidate.quote}}
            </div>
          </div>

        </div>
        <div id="moreButton" class="col-lg-12">
          <button class="btn btn-primary" ng-click="toggleCandidate()">see more candidates</button>
        </div>

          <script src="js/d3code.js">
          </script>

          <div id="votebox" class="col-lg-12">
          <h5>If this issue resonates with you, please cast your vote this November.</h5>
          <h5>58% of Americans did not vote in our last presidential election. If all of those 184,962,000 citizens voted in this election, we might see real change in the daily lives of Americans.
          </h5>

          <div> <h6>&copy; Chris Altonji, Annalise Irby, Devanji Maisuria, Matt Petters. November 2015.</h6></div>
    </div>
  </div>

</body>



</html>

