/* CSS declarations go here */
body{
    margin:5px;
}

button {
    background: #ccc;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 5px 5px;       
}

button.down {
    background: #bbb;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
}

button:focus {
  outline: none;
}

svg {
    height: 500px;
    width: 100%;
}

div img.thumbnail {
    width:250px;
    height:250px;
}

#firstSentence {
    font-size:40px;
    font-color: black;
}

.makeBold {
    font-weight: bold;
}

.makeItalic {
    font-weight: italic;
}

.makeBig {
    font-size:30px;
}