<div ng-show="mouseOverOtherInfo">
	<h5>If this issue resonates with you, please cast your vote this November.</h5>
          <h5>58% of Americans did not vote in our last presidential election. If all of those 184,962,000 citizens voted in this election, we might see real change in the daily lives of Americans.
          </h5>

<div class="makeMedium">Click <a href="about.html"> here</a> to learn more about <b>resonate</b>.</div>

 <div class="makeMedium">Click <a href="sources.html"> here</a> for more resources on minimum wage in America.</div>

</div>

<div>created for hackduke 2015 <img src="https://d21ii91i3y6o6h.cloudfront.net/gallery_images/from_proof/1901/large/1409807106/hackduke-hack-kitty.png" height="25px" width="25px" alt="We <3 HackDuke"></div>

<div> <h6>&copy; Chris Altonji, Annalise Irby, Devanji Maisuria, Matt Petters. November 3, 2015.</h6></div>