<script src="js/d3code.js"></script>
  <div>
      
          <div id="chartDescription" class="col-lg-12 text-center"><div id="firstSentence">Minimum wage is the lowest salary per hour permitted by law.</div>
          <h5>Currently, our federal minimum wage is $7.25 per hour. </h5>
          <h5>When adjusted for inflation, this is $3.00 less than the minimum wage in 1968.</h5>
          <h4 class="makeBold makeBig">What happens to Americans if we raise or lower the minimum wage?</h4>
          </div>
          <div id="chart1" class="col-lg-12 text-center">
          <svg id="povertyChart" class="text-center"></svg>
          </div>
          <div id="chartUnderText" class="col-lg-12 text-center">
          </div>
            <div id="buttonsSexChart" class="col-lg-4"> 
              <h4 id="sex_chart_header">Gender</h4>
              <button class="btn btn-primary" value="Male">Male</button>
              <button class="btn" value="Female">Female</button>
            </div>
            <div style="clear:both"></div>
            <br>
            <div class="chart" id="sexChart"></div>
            <div style="clear:both"></div>
            <br>
            <div id="buttonsAgeChart" class="col-lg-4"> 
              <h4 id="age_chart_header">Age</h4>
              <button class="btn btn-primary" value="Less than 25">Less than 25</button>
              <button class="btn" value="25 to 39">25 to 39</button>
              <button class="btn" value="40 to 54">40 to 54</button>
              <button class="btn" value="55+">55+</button>
            </div>
            <div style="clear:both"></div>
            <br>
            <div class="chart" id="ageChart"></div>
            <div style="clear:both"></div>
            <br>
            <div id="buttonsRaceChart" class="col-lg-4"> 
              <h4 id="race_chart_header">Age</h4>
              <button class="btn btn-primary" value="White, non-Hispanic">White, non-Hispanic</button>
              <button class="btn" value="Black or African American">Black or African American</button>
              <button class="btn" value="Hispanic of any race">Hispanic of any race</button>
              <button class="btn" value="Asian or other race/ethnicity">Asian or other race/ethnicity</button>
            </div>
            <div style="clear:both"></div>
            <br>
            <div class="chart" id="raceChart"></div>
            <div style="clear:both"></div>
            <br>
            <div id="buttonsFamilyChart" class="col-lg-4"> 
              <h4 id="family_chart_header">Family</h4>
              <button class="btn btn-primary" value="Married parent">Married parent</button>
              <button class="btn" value="Single parent">Single parent</button>
              <button class="btn" value="Married, no kids">Married, no kids</button>
              <button class="btn" value="Unmarried, no kids">Unmarried, no kids</button>
            </div>
            <div style="clear:both"></div>
            <br>
            <div class="chart" id="familyChart"></div>
            <div style="clear:both"></div>
            <br>
            <div id="buttonsHoursChart" class="col-lg-4"> 
              <h4 id="hours_chart_header">Family</h4>
              <button class="btn btn-primary" value="Part time (< 19 hours per week)">Part time (lessthan 19 hours per week)</button>
              <button class="btn" value="Mid time (20-34 hours per week)">Mid time (20-34 hours per week)</button>
              <button class="btn" value="Full time (35+ hours per week)">Full time (35+ hours per week)</button>
            </div>
            <div style="clear:both"></div>
            <br>
            <div class="chart" id="hoursChart"></div>
            <div style="clear:both"></div>
            <h4 class="makeBold makeBig">So what does that all mean together?  We included a severity ranking to show you:</h4>
            <h4 id="severity_chart_header">Family</h4>
            <br>
            <div class="chart" id="severityChart"></div>
            <div style="clear:both"></div>
            <br>
          <script>
          updateSexChart();
          updateAgeChart();
          updateRaceChart();
          updateFamilyChart();
          updateHoursChart();
          updateSeverity();
          $("button").click(function(event) {
              $(event.target).siblings().removeClass("btn-primary");
              $(event.target).addClass("btn-primary");
              var chart = $(event.target).parent().attr("id");
              if (chart == 'buttonsAgeChart') {
                updateAgeChart();
              } else if (chart == 'buttonsSexChart') {
                updateSexChart();
              } else if (chart == 'buttonsRaceChart') {
                updateRaceChart();
              } else if (chart == "buttonsFamilyChart") {
                updateFamilyChart();
              } else if (chart == "buttonsHoursChart") {
                updateHoursChart();
              }
              updateSeverity();
          });
          </script>
          <div id="chartContainer">
          </div>

        <div id="candidatebox" class="col-lg-12">

        </div>

         <div id="footer" class="col-lg-12">
         </div>
    </div>